@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body{
    width: 1260;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', 'sans-serif';
}
.container{
    width: 1000px;
    margin: 0px auto;
}
a{
    text-decoration: none;
}
.btn{
    border: none;
    background-color: rgb(75, 75, 255);
    padding: 20px 24px;
    border-radius: 100px;
    font-size: 13px;
}
header{top: 0%; 
    position: fixed;
    width: 100%;
    float: left;
    height: 40px;
    background: linear-gradient(
        to right, white, black, gray);
    text-align: right; 
    right: 0px;
    font-size: 20px;
}
#welcome{
    background-repeat: no-repeat;
    background-size: 100% ;
    border: 5px solid black;
    border-bottom: none;
}
.welcome-inner{
    color: rgb(255, 255, 255);
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 75px;
    text-align: center;
}
#top-auto{
    background: linear-gradient(to right bottom,
     white, gray);
    border: 5px solid black;
    text-align: center;
    font-size: 40px;
    color: gray;
    padding-bottom: 40px;
}
.kolokol-inner{
    text-align: center;
    font-size: 20px;
    background-color: cornflowerblue;
    background-size: 100%;
}
.footer{
    background: #e0e0e0;
}
.footer-content{
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
}
.footer-title{
    font-weight: bold;
    font-size: 18px;
}
.footer-item{
    color: #99999999;
    font-size: 14px;
    padding: 15px 0;
}
.footer-list{
    list-style: none;
    padding-left: 0;
}
.footer-l{
    padding: 20px 0;
    text-align: center;
    opacity: 0.3;
    border-top:1px solid #99999999;
}
@media (max-width: 690px){
    .btn{
        margin-top: 25px;
        padding: 20px 24px;
    }
    header{
        display: none;
    }
    .container{
        width: 600px;
        margin: 0px;
    }

    #welcome{
        background-size: 100%;
        background-position: center;
    }
    .welcome-inner h1{
        font-size: 50px;
    }
    #top-auto{font-size: 23px;}
    .kolokol-inner{
        background-size: 100%;
        background-position: center;
    }
    .footer-l{
        font-size: 10px;
    }
}